@tailwind base;
@tailwind components;
@tailwind utilities;


/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
.dodum{
  font-family: 'Gowun Dodum', sans-serif;;
}
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
.Tangerine{
  font-family: 'Tangerine', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
.Batang{
  font-family: 'Gowun Batang', serif;
}
/*  */
body{
  letter-spacing: -0.5px;
    min-height: 100vh;
    position: relative;
    width: 100%;
}
#footer{
  width: 100%;
	/* height: ; */
	bottom: -50px;
	position: absolute;
}
.bg-img{
  background-image:url("./img/pngegg.png");
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes up{
  0%{width: 0%;}
  10%{width: 10%;}
}
@keyframes up_2{
  0%{width: 0%;}
  100%{width: 50%;}
}
@keyframes up_3{
  0%{width: 0%;}
  100%{width: 70%;}
}
@keyframes up_4{
  0%{width: 0%;}
  100%{width: 80%;}
}
/* 애니메이션 */
.bar{
  background-color: #4fa1ff;
  width: 35%;
  display: block;
  height: 20%;
  animation:up 2s 0.1s 1 linear alternate forwards;
  border-radius: 15px;
}
.bar_2{
  background-color: #ffd185;
  width: 70%;
  display: block;
  height: 20%;
  animation: up_2 2s 0.1s 1 linear alternate forwards;
  border-radius: 15px;
}
.bar_3{
  background-color: #ffd185;
  width: 80%;
  display: block;
  height: 20%;
  animation: up_3 2s 0.1s 1 linear alternate forwards;
  border-radius: 15px;
}
.bar_4{
  background-color: #FF665A;
  width: 90%;
  display: block;
  height: 20%;
  animation: up_4 2s 0.1s 1 linear alternate forwards;
  border-radius: 15px;
}
/* 애니메이션 */